<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bpp.projects.cardGuide.dao.MainDAO">
    <!--<sql id="BASE_SQL">-->
        <!--id, date-->
    <!--</sql>-->

    <select id="selectMain" resultType="com.bpp.projects.cardGuide.entity.Detail">
        SELECT tag,meaasges From mainTable a, detailTable b
        <where>
            a.id = b.parentID
            <if test="date != null">
                AND date= #{date}
            </if>
        </where>
    </select>

</mapper>